<a href="https://colab.research.google.com/github/Rogerio-mack/Oficina_Python_para_Financas/blob/main/Hands_ML.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img src="http://meusite.mackenzie.br/rogerio/mackenzie_logo/UPM.2_horizontal_vermelho.jpg" width=300, align="right">

# **Hands On**

In [30]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt             
%matplotlib inline
import seaborn as sns

# **CASE: Apartment Price**

In [42]:
df = pd.read_excel('https://github.com/Rogerio-mack/Oficina_Python_para_Financas/raw/main/data/apartamentos_zona_sul.xlsx')
df.head()

                bairro  areaM2  suites  dormitorios  banheiros  vagas    preco
0  vila-nova-conceicao      32       1            1          1      1   490000
1  vila-nova-conceicao     157       2            2          2      2  3180000
2  vila-nova-conceicao     205       2            3          3      3  1900000
3  vila-nova-conceicao     193       3            3          3      3  3565000
4  vila-nova-conceicao     116       1            3          2      2  1605000

In [45]:
df.columns

Index(['bairro', 'areaM2', 'suites', 'dormitorios', 'banheiros', 'vagas',
       'preco'],
      dtype='object')

In [49]:
import statsmodels.formula.api as sm

lm = sm.ols(formula='preco ~ areaM2', data=df)
lm = lm.fit()
print(lm.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  preco   R-squared:                       0.577
Model:                            OLS   Adj. R-squared:                  0.577
Method:                 Least Squares   F-statistic:                     5107.
Date:                Wed, 24 May 2023   Prob (F-statistic):               0.00
Time:                        05:39:02   Log-Likelihood:                -55646.
No. Observations:                3741   AIC:                         1.113e+05
Df Residuals:                    3739   BIC:                         1.113e+05
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept  -3.527e+05    2.9e+04    -12.156      0.000    -4.1e+05   -2.96e+05
areaM2      1.358e+04    190.082     71.465      0.000    1.32e+04     1.4e+04
==============================================================================
Omnibus:                     1205.039   Durbin-Watson:                   1.313
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             7052.992
Skew:                           1.408   Prob(JB):                         0.00
Kurtosis:                       9.109   Cond. No.                         388.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [65]:
df_new = df.iloc[10:11]
df_new

,bairro,areaM2,suites,dormitorios,banheiros,vagas,preco
10,vila-nova-conceicao,168,1,2,2,2,1780000

In [66]:
lm.predict(df_new['areaM2'])

10    1.929432e+06
dtype: float64

In [68]:
from sklearn import linear_model

X = df[['areaM2']]
y = df['preco']

reg = linear_model.LinearRegression()

reg.fit(X, y)

LinearRegression()

In [69]:
reg.score, reg.coef_, reg.intercept_

(<bound method RegressorMixin.score of LinearRegression()>,
 array([13584.14316683]),
 -352704.11849941616)

In [71]:
reg.predict(df_new[['areaM2']])

array([1929431.93352746])

# **CASE: Car Sales**

In [72]:
df = pd.read_csv('https://vincentarelbundock.github.io/Rdatasets/csv/MASS/Cars93.csv',index_col=0)
df = df.reset_index(drop=True)
df.head()

,Manufacturer,Model,Type,Min.Price,Price,Max.Price,MPG.city,MPG.highway,AirBags,DriveTrain,...,Passengers,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room,Weight,Origin,Make
0,Acura,Integra,Small,12.9,15.9,18.8,25,31,None,Front,...,5,177,102,68,37,26.5,11.0,2705,non-USA,Acura Integra
1,Acura,Legend,Midsize,29.2,33.9,38.7,18,25,Driver & Passenger,Front,...,5,195,115,71,38,30.0,15.0,3560,non-USA,Acura Legend
2,Audi,90,Compact,25.9,29.1,32.3,20,26,Driver only,Front,...,5,180,102,67,37,28.0,14.0,3375,non-USA,Audi 90
3,Audi,100,Midsize,30.8,37.7,44.6,19,26,Driver & Passenger,Front,...,6,193,106,70,37,31.0,17.0,3405,non-USA,Audi 100
4,BMW,535i,Midsize,23.7,30.0,36.2,22,30,Driver only,Rear,...,4,186,109,69,39,27.0,13.0,3640,non-USA,BMW 535i

In [73]:
df.columns

Index(['Manufacturer', 'Model', 'Type', 'Min.Price', 'Price', 'Max.Price',
       'MPG.city', 'MPG.highway', 'AirBags', 'DriveTrain', 'Cylinders',
       'EngineSize', 'Horsepower', 'RPM', 'Rev.per.mile', 'Man.trans.avail',
       'Fuel.tank.capacity', 'Passengers', 'Length', 'Wheelbase', 'Width',
       'Turn.circle', 'Rear.seat.room', 'Luggage.room', 'Weight', 'Origin',
       'Make'],
      dtype='object')

In [77]:
from sklearn.linear_model import LogisticRegression

# Entradas e Saídas
X = df[['Price', 'MPG.city', 'EngineSize', 'Horsepower', 'RPM', 'Length', 'Wheelbase', 'Width', 'Weight']]
y = df['Origin']

# Definição
clf = LogisticRegression(max_iter=1000)

# Treinamento
clf.fit(X,y)

# Avaliação
y_pred = clf.predict(X)

print(clf.score(X,y))

0.8064516129032258

In [81]:
df['y_pred'] = y_pred
df[['Manufacturer', 'Model', 'Type', 'Price', 'Max.Price', 'Horsepower', 'RPM', 'Origin', 'y_pred']]

,Manufacturer,Model,Type,Price,Max.Price,Horsepower,RPM,Origin,y_pred
0,Acura,Integra,Small,15.9,18.8,140,6300,non-USA,non-USA
1,Acura,Legend,Midsize,33.9,38.7,200,5500,non-USA,non-USA
2,Audi,90,Compact,29.1,32.3,172,5500,non-USA,non-USA
3,Audi,100,Midsize,37.7,44.6,172,5500,non-USA,non-USA
4,BMW,535i,Midsize,30.0,36.2,208,5700,non-USA,non-USA
...,...,...,...,...,...,...,...,...,...
88,Volkswagen,Eurovan,Van,19.7,22.7,109,4500,non-USA,non-USA
89,Volkswagen,Passat,Compact,20.0,22.4,134,5800,non-USA,non-USA
90,Volkswagen,Corrado,Sporty,23.3,23.7,178,5800,non-USA,non-USA
91,Volvo,240,Compact,22.7,23.5,114,5400,non-USA,non-USA
92,Volvo,850,Midsize,26.7,28.5,168,6200,non-USA,non-USA

In [83]:
df[['Manufacturer', 'Model', 'Type', 'Price', 'Max.Price', 'Horsepower', 'RPM', 'Origin', 'y_pred']][ df.Origin != df.y_pred ]

,Manufacturer,Model,Type,Price,Max.Price,Horsepower,RPM,Origin,y_pred
21,Chrysler,Imperial,Large,29.5,29.5,147,4800,USA,non-USA
22,Dodge,Colt,Small,9.2,10.6,92,6000,USA,non-USA
25,Dodge,Caravan,Van,19.0,24.4,142,5000,USA,non-USA
27,Dodge,Stealth,Sporty,25.8,33.1,300,6000,USA,non-USA
28,Eagle,Summit,Small,12.2,16.5,92,6000,USA,non-USA
30,Ford,Festiva,Small,7.4,7.9,63,5000,USA,non-USA
31,Ford,Escort,Small,10.1,11.9,127,6500,USA,non-USA
44,Hyundai,Elantra,Small,10.0,11.0,124,6000,non-USA,USA
46,Hyundai,Sonata,Midsize,13.9,15.3,128,6000,non-USA,USA
52,Mazda,323,Small,8.3,9.1,82,5000,non-USA,USA
54,Mazda,626,Compact,16.5,18.7,164,5600,non-USA,USA
55,Mazda,MPV,Van,19.1,21.7,155,5000,non-USA,USA
59,Mercury,Capri,Sporty,14.1,15.0,100,5750,USA,non-USA
66,Nissan,Maxima,Midsize,21.5,22.0,160,5200,non-USA,USA
72,Pontiac,LeMans,Small,9.0,9.9,74,5600,USA,non-USA
80,Subaru,Loyale,Small,10.9,11.3,90,5200,non-USA,USA
83,Toyota,Tercel,Small,9.8,11.8,82,5200,non-USA,USA
85,Toyota,Camry,Midsize,18.2,21.2,130,5400,non-USA,USA